
  <div class="col-xs-12 col-sm-6 col-md-7 gallery-holder">
    <div class="product-item-holder size-big single-product-gallery small-gallery">

      <div id="owl-single-product">


        <% if object.picture1.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide1">
              <a data-lightbox="image-1" data-title="Gallery" href="<%= image_path( object.picture1(:home ))  %>">
                <%= image_tag object.picture1(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture1(:medium ))  %>
              </a>
            </div>
        <% end %>


        <% if object.picture2.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide2">
              <a data-lightbox="image-2" data-title="Gallery" href="<%= image_path( object.picture2(:home ))  %>">
                <%= image_tag object.picture2(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture2(:medium ))  %>
              </a>
            </div>
        <% end %>



        <% if object.picture3.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide3">
              <a data-lightbox="image-3" data-title="Gallery" href="<%= image_path( object.picture3(:home ))  %>">
                <%= image_tag object.picture3(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture3(:medium ))  %>
              </a>
            </div>
        <% end %>


        <% if object.picture4.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide4">
              <a data-lightbox="image-4" data-title="Gallery" href="<%= image_path( object.picture4(:home ))  %>">
                <%= image_tag object.picture4(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture4(:medium ))  %>
              </a>
            </div>
        <% end %>



        <% if object.picture5.to_s  != '/images/missing.png' %>
            <div class="single-product-gallery-item" id="slide5">
              <a data-lightbox="image-5" data-title="Gallery" href="<%= image_path( object.picture5(:home ))  %>">
                <%= image_tag object.picture5(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture5(:medium ))  %>
              </a>
            </div>
        <% end %>





      </div><!-- /.single-product-slider -->


      <div class="single-product-gallery-thumbs second-gallery-thumb gallery-thumbs">

        <div id="owl-single-product2-thumbnails">


          <% if object.picture1.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="0" href="#slide1">

                  <%= image_tag object.picture1(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture1(:medium ))  %>
                </a>
              </div>
          <% end %>




          <% if object.picture2.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="1" href="#slide2">

                  <%= image_tag object.picture2(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture2(:medium ))  %>
                </a>
              </div>
          <% end %>


          <% if object.picture3.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="2" href="#slide3">

                  <%= image_tag object.picture3(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture3(:medium ))  %>
                </a>
              </div>
          <% end %>



          <% if object.picture4.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="3" href="#slide4">

                  <%= image_tag object.picture4(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture4(:medium ))  %>
                </a>
              </div>
          <% end %>



          <% if object.picture5.to_s  != '/images/missing.png' %>
              <div class="item">
                <a class="horizontal-thumb active" data-target="#owl-single-product" data-slide="4" href="#slide5">

                  <%= image_tag object.picture5(:medium ), :class=>'img-responsive', 'data-echo'=>image_path( object.picture5(:medium ))  %>
                </a>
              </div>
          <% end %>
        </div><!-- /#owl-single-product-thumbnails -->

        <div class="nav-holder left">
          <a class="prev-btn slider-prev" data-target="#owl-single-product2-thumbnails" href="#prev"></a>
        </div><!-- /.nav-holder -->
        <div class="nav-holder right">
          <a class="next-btn slider-next" data-target="#owl-single-product2-thumbnails" href="#next"></a>
        </div><!-- /.nav-holder -->
      </div><!-- /.gallery-thumbs -->

    </div><!-- /.single-product-gallery -->
  </div><!-- /.gallery-holder -->
