%header.header-style-1.header-style-3
  .top-bar.animate-dropdown
    .container
      .header-top-inner
        .cnt-account
          %p
            %b Llámenos:
            011 252 2112
            %b Email:
            info@camion365.com
        .cnt-block
          %ul.list-unstyled.list-inline
            - if session[:user]
              %li.dropdown.dropdown-small
                %a.dropdown-toggle{:href => logout_sessions_path } Cerrar sesion
              %li.dropdown.dropdown-small
                %a.dropdown-toggle{:href => "/mi-cuenta"} Mi Cuenta
              %li.dropdown.dropdown-small
                %a.dropdown-toggle{:href => "/mi-cuenta"} Publicar Anuncio                
            - else
              %li.dropdown.dropdown-small
                %a.dropdown-toggle{:href => "/mi-cuenta"} Iniciar sesion
              %li.dropdown.dropdown-small
                %a.dropdown-toggle{:href => registrar_usuario_sessions_path} Registrarse
            %li.dropdown.dropdown-small
              %a.dropdown-toggle{:href => "/tarifas"}
            %li.dropdown.dropdown-small
              %a.dropdown-toggle{:href => "/terminos"} Terminos
            %li.dropdown.dropdown-small
              %a.dropdown-toggle{:href => "/politicas"} Politicas
        .clearfix
  .header-nav.animate-dropdown.main-header
    .container
      .col-xs-12.col-sm-12.col-md-6
        .yamm.navbar.navbar-default{:role => "navigation"}
          .nav-bg-class
            #mc-horizontal-menu-collapse.navbar-collapse.collapse
              .nav-outer
                %ul.nav.navbar-nav
                  %li.active.dropdown.yamm-fw
                    %a.dropdown-toggle{"data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "/"} Home
                  %li.dropdown
                    %a{:href => "/mi-cuenta", :target => "_blank" } Mis Anuncios
                .clearfix
      .col-xs-12.col-sm-12.col-md-6.top-search-holder{:style => "float:right"}
        .search-area
          = form_tag('/busqueda', {id: "form_search"}) do
            = link_to '','#', class: 'search-button', onClick: "document.getElementById('form_search').submit();"
            = text_field_tag "consulta", "",  maxlength: 50, class: 'search-field', placeholder: "Buscar camiones, repuestos o servicios..."
  .main-header.bgtoph
    .container
      .row
        .col-xs-12.col-sm-12.col-md-12.logo-holder
          .logo
            %a{:href => "/"}
              = image_tag 'logo.png'
          / /.logo
        = render partial: 'includes/modal_search'