.col-xs-12.col-sm-12.col-md-12
  .product-tabs.outer-top-smal.wow.fadeInUp
    %ul#product-tabs.nav.nav-tabs.nav-tab-cell-detail
      %li.active
        %a{"data-toggle" => "tab", :href => "#camiones"} ENCUENTRA TU CAMIÓN
      %li
        %a{"data-toggle" => "tab", :href => "#repuestos"} REPUESTOS
      %li
        %a{"data-toggle" => "tab", :href => "#servicios"} SERVICIOS
    / /.nav-tabs #product-tabs
    .tab-content.outer-top-xs
      #camiones.tab-pane.in.active
        .product-tab.sty-tabsh
          = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
          .col-xs-3.col-sm-3.col-md-3
            %fieldset.attribute_fieldset
              %label.attribute_label.attribute-key{:for => "group_1"}
                %p
                  TIPO DE
                  %b CAMIÓN
              .attribute_list
                = select :camion,:type, options_for_select(@types.map{ |c| [c.name, c.link_rewrite, {'data-id'=>c.id}] }), {prompt: 'Todas las marcas'}, :class=>'form-control'
              / /.attribute_list
          .col-xs-3.col-sm-3.col-md-3
            %fieldset.attribute_fieldset
              %label.attribute_label.attribute-key{:for => "group_1"}
                %p MARCAS
              .attribute_list
                = collection_select(:camion, :brand, BrandTruck.order(:name), :link_rewrite, :name, {prompt: 'Todas las marcas'}, :class=>'form-control')
              / /.attribute_list
          .col-xs-3.col-sm-3.col-md-3
            %fieldset.attribute_fieldset
              %label.attribute_label.attribute-key{:for => "group_1"}
                %p UBICACIÓN
              .attribute_list
                = collection_select(:camion, :state, @states, :link_rewrite, :name, {prompt: 'Selecciona'}, :class=>'form-control')
              / /.attribute_list
          .col-xs-3.col-sm-3.col-md-3
            %fieldset.attribute_fieldset
              %label.attribute_label.attribute-key{:for => "group_1"}  
              .attribute_list.pull-right{:style => "width: 100%;"}
                %button#btn-camion.btn.btn-primary{:style => "width:100%", :type => "submit"} BUSCAR
              / /.attribute_list
      / /.tab-pane
      #repuestos.tab-pane
        = search_form_for @search_repu, url: repuestos_path, id: "search_repu", method: :post do |f|
          .product-tab.sty-tabsh
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p
                    TIPO DE
                    %b CAMIÓN
                .attribute_list
                  = f.select(:type_truck_id_eq, options_for_select(@types.map{ |c| [c.name, c.id, {'data-id'=>c.id}] }), {prompt: 'Todas las marcas'}, { class:  'form-control', id: 'servicio_type'})
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p
                    TIPO DE
                    %b REPUESTOS
                .attribute_list
                  = f.select(:brand_extra_id_eq, options_from_collection_for_select(BrandExtra.order(:id), :id,:name), {prompt: 'Selecciona'}, { class:  'form-control', id: 'servicio_brand'})
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p UBICACIÓN
                .attribute_list
                  = f.select(:state_id_eq, options_from_collection_for_select(@states, :id,:name), {prompt: 'Selecciona'}, { class:  'form-control'})
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p PRECIO MAYOR IGUAL
                .attribute_list
                  = f.select(:price_gteq, options_for_select(Extra.order('price ASC').map{ |r| [number_to_currency( r.price,  precision: 0, delimiter: '.'), r.price] }), {prompt: 'Selecciona'}, { class:  'form-control', id: 'price_gteq'})
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p PRECIO MENOR IGUAL
                .attribute_list
                  = f.select(:price_lteq, options_for_select(Extra.order('price DESC').map{ |r| [number_to_currency( r.price,  precision: 0, delimiter: '.'), r.price] }), {prompt: 'Selecciona'}, { class:  'form-control', id: 'price_lteq'})
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}  
                .attribute_list.pull-right{:style => "width:100%"}
                  = f.submit "BUSCAR", class: "btn-servi btn btn-primary"
      #servicios.tab-pane
        = search_form_for @search_serv, url:  servicios_path, id: "search_serv", method: :post do |f|
          .product-tab.sty-tabsh
            .col-xs-4.col-sm-4.col-md-4
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p
                    TIPO DE
                    %b SERVICIO
                .attribute_list
                  = f.select(:type_service_id_eq, options_from_collection_for_select(TypeService.order(:id), :id,:name), {prompt: 'Selecciona'}, { class:  'form-control', id: 'state_service'})
            .col-xs-4.col-sm-4.col-md-4
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p UBICACIÓN
                .attribute_list
                  = f.select(:state_id_eq, options_from_collection_for_select(@states, :id,:name), {prompt: 'Selecciona'}, { class:  'form-control'})
            .col-xs-4.col-sm-4.col-md-4
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}  
                .attribute_list.pull-right{:style => "width:100%"}
                  = f.submit "BUSCAR", class: "btn-servi btn btn-primary"