.col-xs-12.col-sm-12.col-md-12
  .product-tabs.outer-top-smal.wow.fadeInUp
    %ul#product-tabs.nav.nav-tabs.nav-tab-cell-detail
      %li.active
        %a{"data-toggle" => "tab", :href => "#camiones"} ENCUENTRA TU CAMIÓN
      %li
        %a{"data-toggle" => "tab", :href => "#repuestos"} REPUESTOS
      %li
        %a{"data-toggle" => "tab", :href => "#servicios"} SERVICIOS
    / /.nav-tabs #product-tabs
    .tab-content.outer-top-xs
      #camiones.tab-pane.in.active
        .product-tab.sty-tabsh
          = search_form_for @search_cam, url: camiones_path, id: "search_cam", method: :post do |f|
            .col-xs-3.col-sm-3.col-md-3
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p
                    TIPO DE
                    %b CAMIÓN
                .attribute_list
                  = f.select(:type_truck_id_eq, options_for_select(@types.map{ |c| [c.name, c.id, {'data-id'=>c.id}] }), {prompt: 'Todos los tipos'}, { class:  'form-control', id: 'camion_type'})
                / /.attribute_list
            .col-xs-3.col-sm-3.col-md-3
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p MARCAS
                .attribute_list
                  = f.select(:brand_truck_id_eq, options_from_collection_for_select(BrandTruck.order(:name), :id,:name), {prompt: 'Todas las marcas'}, { class:  'form-control', id: 'camion_brand'})
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p REFERENCIAS
                .attribute_list
                  = f.select(:referencia_id_eq, options_from_collection_for_select(Referencia.order(:name), :id,:name), {prompt: 'Referencias'}, { class:  'form-control', id: 'camion_ref'})                      
                / /.attribute_list
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p UBICACIÓN
                .attribute_list
                  = f.select(:state_id_eq, options_from_collection_for_select(@states, :id,:name), {prompt: 'Selecciona'}, { class:  'form-control'})
                / /.attribute_list
            .col-xs-2.col-sm-2.col-md-2
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}  
                .attribute_list.pull-right{:style => "width: 100%;"}
                  = f.submit "BUSCAR", class: "btn-servi btn btn-primary"
              / /.attribute_list
      / /.tab-pane
      #repuestos.tab-pane
        = search_form_for @search_repu, url: repuestos_path, id: "search_repu", method: :post do |f|
          .product-tab.sty-tabsh
            .col-xs-3.col-sm-3.col-md-3
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p
                    TIPO DE
                    %b CAMIÓN
                .attribute_list
                  = f.select(:type_truck_id_eq, options_for_select(@types.map{ |c| [c.name, c.id, {'data-id'=>c.id}] }), {prompt: 'Todos los tipos'}, { class:  'form-control', id: 'servicio_type'})
            .col-xs-3.col-sm-3.col-md-3
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p
                    TIPO DE
                    %b REPUESTOS
                .attribute_list
                  = f.select(:brand_extra_id_eq, options_from_collection_for_select(BrandExtra.order(:id), :id,:name), {prompt: 'Selecciona'}, { class:  'form-control', id: 'servicio_brand'})
            .col-xs-3.col-sm-3.col-md-3
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p UBICACIÓN
                .attribute_list
                  = f.select(:state_id_eq, options_from_collection_for_select(@states, :id,:name), {prompt: 'Selecciona'}, { class:  'form-control'})
            .col-xs-3.col-sm-3.col-md-3
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}  
                .attribute_list.pull-right{:style => "width:100%"}
                  = f.submit "BUSCAR", class: "btn-servi btn btn-primary"
      #servicios.tab-pane
        = search_form_for @search_serv, url:  servicios_path, id: "search_serv", method: :post do |f|
          .product-tab.sty-tabsh
            .col-xs-4.col-sm-4.col-md-4
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p
                    TIPO DE
                    %b SERVICIO
                .attribute_list
                  = f.select(:type_service_id_eq, options_from_collection_for_select(TypeService.order(:id), :id,:name), {prompt: 'Selecciona'}, { class:  'form-control', id: 'state_service'})
            .col-xs-4.col-sm-4.col-md-4
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}
                  %p UBICACIÓN
                .attribute_list
                  = f.select(:state_id_eq, options_from_collection_for_select(@states, :id,:name), {prompt: 'Selecciona'}, { class:  'form-control'})
            .col-xs-4.col-sm-4.col-md-4
              %fieldset.attribute_fieldset
                %label.attribute_label.attribute-key{:for => "group_1"}  
                .attribute_list.pull-right{:style => "width:100%"}
                  = f.submit "BUSCAR", class: "btn-servi btn btn-primary"