<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Tipo de servicio</th>
    <th>Departamento</th>
    <th>Fecha de creacion</th>
    <th>Fecha de activacion</th>
    <th>Acciones</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <% @services.each do |type| %>
      <tr>


        <td>
          <%= type.name %>
        </td>

        <td>
          <% if type.type_services %>
            <% type.type_services.each do |type_ser| %>
              <%= type_ser.name %>
            <% end %>
          <% end %>
        </td>

        <td>
          <%= type.state.name if type.state %>
        </td>
        <td>
          <%= type.created_at.strftime('%b %d del %Y') %>
        </td>
        <td>
          <%= type.updated_at.strftime('%b %d del %Y') %>
        </td>
        <td>
          <% if type.active == 1 %>
           <%= link_to 'Editar', edit_admin_service_path(type.id), :class=>'btn btn-info' %>
           <%= link_to 'Eliminar', {:controller => 'admin/services', :action => 'destroy', :id => type.id}, :data => {:confirm => 'Estas seguro de eliminar este elemento?'}, :method => 'DELETE',  :class=>'btn btn-danger' %>
          <% end %>
        </td>


        <td>
          <% if type.active == 1 %>
            <%= link_to admin_updateState_path(type.id,1,'service'), :class=>'btn btn-success' do %>
                <i class="fa fa-times"></i>
            <% end %>
          <% elsif type.active == 0 %>
             Inactivo por cliente   
          <% elsif type.active == 2 %>
              Vendido
          <% elsif type.active == 3 %>
              <%= link_to admin_updateState_path(type.id,3,'service'), :class=>'btn btn-danger' do %>
                <i class="fa fa-check"></i>
              <% end %>
          <% end %>
        </td>


      </tr>
  <% end %>


  </tbody>

</table>
<%= render partial: "includes/paginator_admin" , locals: {object: @services}%>