<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Servicios
    </h1>
    <%= render 'admin/includes/top' %>
  </div>
</div>

<!-- /.row -->
<% if flash[:notice] %>

    <%= render partial: 'shared/flashNoticeMessage' %>

<% end %>

<!-- /.row -->

<div class="row">
  <div class="col-md-4">
    <%= render partial: 'includes/admin_search', locals: {object: @search, search_path: request.path, query_search_field: @query_search_field} %>
  </div>
    <div class="col-md-1 col-md-offset-6">
    <p>
      <%= link_to 'Nuevo servicio', new_admin_service_path,:method=>'get', :class=>'btn  btn-primary' %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">

    <div  id="resultTable" class="table-responsive">
        <%= render partial:  'resultTable' %>
    </div>
   
  </div>
</div>
<!-- /.row -->
