<div class="body-content outer-top-bd">
  <div class="container">
    <%= render partial: 'includes/messages_errors', locals: {object: @user} %>
    <h1>
      Cambiar Clave de Acceso
    </h1>
    <br/>
    <div class="track-order-page inner-bottom-sm">
      <div class="row">
        <div class="col-md-12">
          <%= form_for @user,  url: update_password_path, method: :post, class: "register-form outer-top-xs"   do |f| %>

              <div class="form-group col-md-4">
                <%= f.label 'clave_actual','Clave Actual' ,class: "info-title" %>
                <%= password_field_tag 'clave_actual',nil , class: "form-control unicase-form-control text-input", required: true %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label 'Clave Nueva', class: "info-title" %>
                <%= f.password_field :clave, class: "form-control unicase-form-control text-input", required: true %>
              </div>
              <div class="form-group col-md-4">
                <%= f.label "Confirmar Clave Nueva", class: "info-title" %>
                <%= f.password_field :clave_confirmation, class: "form-control unicase-form-control text-input", required: true %>
              </div>
              <div class="row col-md-5">
                <div class="container">
                  <%= render partial: 'shared/botonera', locals:{ object: f, cancel_route: customer_show_path } %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
