%hr
%table.table.table-striped
  %thead
    %tr.success
      %th #
      %th Nombre
      %th Precio
      %th Tipo
      %th Marca
      %th Departamento
      %th
  %tbody
    - @trucks.each do |truck|
      %tr
        %td
          = truck.id
        %td
          = truck.nombre
        %td
          = currency_colombia(truck.price)
        %td
          = truck.type_truck.name if truck.type_truck
        %td
          = truck.brand_truck.name if truck.brand_truck
        %td
          = truck.state.name if truck.state
        %td
          = wicked_pdf_image_tag missing_image(truck.picture1(:thumb)),size:'100x100'