.sidebar-filter
  .sidebar-widget.wow.fadeInUp.outer-bottom-xs
    .sidebar-widget-body.m-t-10
      .accordion
        .widget-header
          %h4.widget-title.well Mas Opciones
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#ubicacion"} Ubicación
          #ubicacion.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul
                - @states_group.each do |state|
                  %li
                    = link_to state.state_name, "/repuestos-opciones/state_id/#{state.state_id}", remote: true
                    %small
                      (#{state.total})
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#brand"} Marcas
          #brand.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul
                - @brand_group.each do |brand|
                  %li
                    = link_to brand.brand_name, "/repuestos-opciones/brand_extra_id/#{brand.brand_id}", remote: true
                    %small
                      (#{brand.total})
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#avanzada"} Avanzada
          #avanzada.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul= render 'shared/form_search_extras'
= render partial: '/shared/banners'