.sidebar-filter
  .sidebar-widget.wow.fadeInUp.outer-bottom-xs
    .sidebar-widget-body.m-t-10
      .accordion
        .widget-header
          %h4.widget-title.well Mas Opciones
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#ubicacion"} Ubicación
          #ubicacion.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul
                - @states_group.each do |state|
                  %li
                    = link_to state.state_name, "/camiones-opciones/state_id/#{state.state_id}", remote: true
                    %small
                      (#{state.total})
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#brand"} Marcas
          #brand.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul
                - @brand_group.each do |brand|
                  %li
                    = link_to brand.brand_name, "/camiones-opciones/brand_truck_id/#{brand.brand_truck_id}", remote: true
                    %small
                      (#{brand.total})
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#modelo"} Modelos
          #modelo.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul
                - @modelos_group.each do |modelo|
                  %li
                    = link_to modelo.modelo, "/camiones-opciones/modelo/#{modelo.modelo}", remote: true
                    %small
                      (#{modelo.total})
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#km"} Kilometraje
          #km.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul
                - @km_group.each do |km|
                  %li
                    = link_to km.kilometraje, "/camiones-opciones/kilometraje/#{km.kilometraje}", remote: true
                    %small
                      (#{km.total})
        .accordion-group
          .accordion-heading
            %a.accordion-toggle.collapsed{"data-toggle" => "collapse", :href => "#avanzada"} Avanzada
          #avanzada.accordion-body.collapse{:style => "height: 0px;"}
            .accordion-inner
              %ul= render 'shared/form_search_trucks'
= render partial: '/shared/banners'