<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :motors_truck_id, 'Marca motor' %>
			<%= f.collection_select :motors_truck_id, MotorsTruck.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :boxes_truck_id, 'Marca caja' %>
			<%= f.collection_select :boxes_truck_id, BoxesTruck.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :transmissions_truck_id, 'Marca transmision' %>
			<%= f.collection_select :transmissions_truck_id, TransmissionsTruck.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
		</div>
	</div>


	<div class="col-md-6">
		<div class="form-group">
			<%= f.label :empresaafiliada, 'Empresa Afiliada' %>
			<%= f.text_field :empresaafiliada, :class =>'form-control'  %>
		</div>
	</div>
</div>
