
<div class="row">
	<div class="col-md-3">
		<div class="form-group">

			<label>
				<%= f.check_box :negociable  %> Negociable
		 	</label>
		  	<br/>

		 	<label>
				<%= f.check_box :motorreparado  %> Motor Reparado
		 	</label> <br/>
		  
			<label>
				<%= f.check_box :cajareparada  %> Caja Reparada
		 	</label> <br/>

			<label>
				<%= f.check_box :transmisionreparada  %> Transmision Reparada
			</label>
			<br/>

			<label>
				<%= f.check_box :vigia  %> Vigia
			</label> <br/>


			<label>
				<%= f.check_box :frenosabs  %> Frenos ABS
			</label>
			<br/>

		  	<label>
				<%= f.check_box :unicodueno  %> Unico dueño
		  	</label>
		  	<br/>
		</div>
	</div>
</div>