.well
  = search_form_for @search, url: camiones_path, id: "search_repu", method: :post do |f|
    %p
      %fieldset.attribute_fieldset
      %label.attribute_label.attribute-key{:for => "group_1"}
        %p
          NOMBRE
      .attribute_list
        = f.search_field :nombre_cont, class: "form-control", placeholder: "Buscar por nombre...", maxlength: 50
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p
            TIPO DE
            %b CAMIÓN
        .attribute_list
          = f.select(:type_truck_id_eq, options_for_select(@tiposCaminiones.map{ |c| [c.name, c.id, {'data-id'=>c.id}] }), {prompt: 'Todos los tipos'}, { class:  'form-control', id: 'camion_type'})
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p
            MARCAS
        .attribute_list
          = f.select(:brand_truck_id_eq, options_from_collection_for_select(BrandTruck.order(:name), :id,:name), {prompt: 'Todas las marcas'}, { class:  'form-control', id: 'camion_brand'})    
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p
            REFERENCIAS
        .attribute_list
          = f.select(:referencia_id_eq, options_from_collection_for_select(Referencia.order(:name), :id,:name), {prompt: 'Todas las referencias'}, { class:  'form-control', id: 'camion_ref'})
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p
            CAPACIDAD DE CARGA
        .attribute_list
          = f.select(:capacidadcarga_eq, Environment::CAPACIDAD_CARGA, {prompt: 'Selecciona la capacidad'}, { class:  'form-control', id: 'camion_brand'})
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p UBICACIÓN
        .attribute_list
          = f.select(:state_id_eq, options_from_collection_for_select(@states, :id,:name), {prompt: 'Selecciona'}, { class:  'form-control'})
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p PRECIO MAYOR IGUAL
        .attribute_list
          = f.select(:price_gteq, options_for_select(Truck.order('price ASC').map{ |r| [number_to_currency( r.price,  precision: 0, delimiter: '.'), r.price] }), {prompt: 'Selecciona'}, { class:  'form-control', id: 'price_gteq'})
    %p
      %fieldset.attribute_fieldset
        %label.attribute_label.attribute-key{:for => "group_1"}
          %p PRECIO MENOR IGUAL
        .attribute_list
          = f.select(:price_lteq, options_for_select(Truck.order('price DESC').map{ |r| [number_to_currency( r.price,  precision: 0, delimiter: '.'), r.price] }), {prompt: 'Selecciona'}, { class:  'form-control', id: 'price_lteq'})
    %fieldset.attribute_fieldset
      %label.attribute_label.attribute-key{:for => "group_1"}  
      .attribute_list.pull-right{:style => "width:100%"}
        = f.submit "BUSCAR", class: "btn-servi btn btn-primary"

:javascript
  $(document).on('click', '#btn-camion', function() {


    var type = $("#camion_type").val()
    var brand = $("#camion_brand").val()
    var state = $("#camion_state").val()
    var url = 'camiones';

    if(state != ''){
        url = url+'/'+state
    }

    if(type != ''){
        url = url+'/'+type
    }

    if(brand != ''){
        url = url+'/'+brand
    }
    window.location.href = url;
    return false;
  })



  //cambia el select camiones
  $('#camion_type').on('change', function(evt){

    $('#camion_brand').html('')
    console.log($(this).find(':selected').data('id'))

    id = $(this).find(':selected').data('id');

  function loader(data){
      $('#camion_brand').html('<option>Cargando...</option>');
      $('#camion_ref').html('<option>Cargando...</option>')
      
  };

  function error(data){
      alert("Error enviados los datos");
  };

  if(id == undefined){
      id = '0'
  }


  $.ajax({
    async: true,
    type: "GET",
    dataType: 'json',
    beforeSend:loader,
    error:error,
    success: function (msg) {
      console.log(msg)

        $('#camion_brand').html('')

        if(id == '0'){
          $('#camion_brand').append('<option value="">Todas las marcas</option>')
              $.each(msg, function(index, value) {
                  $('#camion_brand').append('<option value="'+value.id+'">'+value.name+'</option>')
              });
          } else{
              $('#camion_brand').append('<option value="">Todas las marcas</option>')
              $.each(msg, function(index, value) {
                  $('#camion_brand').append('<option value="'+value.brand_truck.id+'">'+value.brand_truck.name+'</option>')
              });
          }
        },
        url:"/marcas/"+id
        });


  $.ajax({
      async: true,
      type: "GET",
      dataType: 'json',
      success: function (msg) {
          $('#camion_ref').html('')

          if(id == '0'){
              $('#camion_ref').append('<option value="">Referencias</option>')


              $.each(msg, function(index, value) {
                  $('#camion_ref').append('<option value="'+value.id+'">'+value.name+'</option>')
              });


          } else{


              $('#camion_ref').append('<option value="">Referencias</option>')
              $.each(msg, function(index, value) {
                  $('#camion_ref').append('<option value="'+value.referencia.id+'">'+value.referencia.name+'</option>')
              });


          }
      },
      url:"/referencias/"+id
      });


  });

  $(document).on('click', '#btn-camion', function() {


    var type = $("#camion_type").val()
    var brand = $("#camion_brand").val()
    var state = $("#camion_state").val()
    var url = 'camiones';

    if(state != ''){
        url = url+'/'+state
    }

    if(type != ''){
        url = url+'/'+type
    }

    if(brand != ''){
        url = url+'/'+brand
    }
    window.location.href = url;
    return false;

  })        