<div class="row">
  	<div class="col-md-2">
		<div class="form-group">
	  		<%= object.label :picture1, 'Imagen 1' %>
	  		<%= object.file_field :picture1, :class =>'form-control'  %>
		</div>
  	</div>

  	<div class="col-md-2">
		<div class="form-group">
	  		<%= object.label :picture2, 'Imagen 2' %>
	  		<%= object.file_field :picture2, :class =>'form-control'  %>
		</div>
  	</div>

  	<div class="col-md-2">
		<div class="form-group">
	  		<%= object.label :picture3, 'Imagen 3' %>
	  		<%= object.file_field :picture3, :class =>'form-control'  %>
		</div>
  	</div>

  	<div class="col-md-2">
		<div class="form-group">
	  		<%= object.label :picture4, 'Imagen 4' %>
	  		<%= object.file_field :picture4, :class =>'form-control'  %>
		</div>
  	</div>
  	

  	<div class="col-md-2">
		<div class="form-group">
	  		<%= object.label :picture5, 'Imagen 5' %>
	  		<%= object.file_field :picture5, :class =>'form-control'  %>
		</div>
  	</div>
</div>