<tr class="nymou">
  <td class="cell-label">
      <b>Marca Trailer</b><br>
      <%= object.marcatrailer? ? object.marcatrailer : 'Sin Información' %>
  </td>
  <td class="cell-label">
      <b>Tipo de Trailer</b><br>
      <%= object.tipotrailer? ? object.tipotrailer : 'Sin Información'%>
  </td>
  <td class="cell-label">
      <b>Modelo Trailer</b><br>
      <%= object.modelotrailer? ? object.modelotrailer : 'Sin Información' %>
  </td>
  <td class="cell-label">
      <b>Número de ejes del Trailer</b><br>
      <%= object.numeroejestrailer? ? object.numeroejestrailer : 'Sin Información' %>
  </td>
  <td class="cell-label">
      <b>Número de ejes Retractiles</b><br>
      <%= object.ejesretractiles? ?  object.ejesretractiles : 'Sin Información' %>
  </td>
</tr>