<tr class="nymou">
    <td class="cell-label">
      <b>Negociable</b><br>
      <%= object.negociable.nil? ? 'Sin Información' : object.negociable? ? 'Si' : 'No' %>
    </td>
    <td class="cell-label">
      <b>Estado de llantas</b><br>
      <%= object.estadollantas.nil? ? 'Sin Información' : case object.estadollantas
      when 0
        'Excelente'
      when 1
        'Bueno'
      when 2
        'Regular'
      when 3
        'Malo'                  
      end  %>
    </td>
    <td class="cell-label">
      <b>Aire Acondicionado</b><br>
      <%= object.aireAcondicionado.nil? ? 'Sin Información' : object.aireAcondicionado? ? 'Si': 'No' %>
    </td>
    <td class="cell-label">
      <b>Frenos ABS</b><br>
      <%= object.frenosabs.nil? ? 'Sin Información' : object.frenosabs? ? 'Si': 'No' %>
    </td>
    <td class="cell-label">
      <b>Unico Dueño</b><br>
      <%= object.unicodueno.nil? ? 'Sin Información' : object.unicodueno? ? 'Si': 'No' %>
    </td>
</tr>
<tr class="nymou">
    
    <td class="cell-label">
      <b>Vigias</b><br>
      <%=  object.vigia.nil? ?  'Sin Información' : object.vigia? ? 'Si' : 'No' %>
    </td>
    
    <td class="cell-label">
      <b>Tipo De Caja</b><br>
      <%= object.tipodecaja.nil? ? 'Sin Información' : object.tipodecaja == 0 ? 'Automatica' : 'Manual' %>
    </td>

    <td class="cell-label">
      <b>Motor Reparado</b><br>
      <%= object.motorreparado.nil? ? 'Sin Información' : object.motorreparado? ? 'Si': 'No' %>
    </td>
    
    <td class="cell-label">
      <b>Caja Reparada</b><br>
      <%= object.cajareparada.nil? ? 'Sin Información' : object.cajareparada? ? 'Si': 'No' %>
    </td>
    
    <td class='cell-label'>
      <b>Transmision Reparada</b><br>
      <%= object.transmisionreparada.nil? ? 'Sin Información' : object.transmisionreparada? ? 'Si': 'No' %>
    </td>
</tr>                   