#eliminar
  - @toggle_search.each do |toggle|
    .widget-header
      %h4.widget-title
        %a{:href => "/servicio-toggle/#{toggle[1]}"}
          = toggle[0].capitalize
          %i.fa.fa-times
.side-menu.animate-dropdown.outer-bottom-xs
  .head
    %i.icon.fa.fa-align-justify.fa-fw
    CATEGORIAS PRINCIPALES
  %nav.yamm.megamenu-horizontal{:role => "navigation"}
    %ul.nav
      - @type_services.each do |type|
        %li.dropdown.menu-item
          = link_to "#{type.name} <b>(#{type.total})</b>".html_safe, "/servicio-tipo/#{type.id}"