- @toggle_search.each do |toggle|
  = link_to toggle[0], "/repuesto-toggle/#{toggle[1]}"
  %br
.side-menu.animate-dropdown.outer-bottom-xs
  .head
    %i.icon.fa.fa-align-justify.fa-fw
    CATEGORIAS PRINCIPALES
  %nav.yamm.megamenu-horizontal{:role => "navigation"}
    %ul.nav
      - @type_trucks.each do |type|
        - if type.brand_extra.size > 0
          %li.dropdown.menu-item
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}= "#{type.name} <b>(#{type.total})</b>".html_safe
            %ul.dropdown-menu.mega-menu
              %li.yamm-content
                .row
                  .col-sm-12.col-md-12
                    %ul.links.list-unstyled
                      - type.brand_extra.each do |brand|
                        %li
                          = link_to brand.name , "/repuesto-tipo/#{type.id}/#{brand.id}"