<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Repuesto <small>/ Agregar</small>
    </h1>
    <%= render 'admin/includes/top' %>
  </div>
</div>

<!-- /.row -->
<%  if @extra.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <%= pluralize(@extra.errors.count, "Errores") %> tratando de guardar:
      </div>
      <p>
      <ul>
        <% @extra.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
      </p>
    </div>
<% end %>
<!-- /.row -->


<div class="row">
  <div class="col-md-12">

    <%= simple_form_for @extra, :url => admin_extra_path, :method=>'put' do |f|  %>

      <%= render partial: 'shared/form_extra', locals:{ f: f} %>
      <%= render partial: 'shared/botonera', locals:{ object: f, cancel_route: admin_extras_path } %>

    <% end %>

  </div>
</div>



<script>
    var ready;
    ready = function() {
        //evento cuando carga
        $('#extra_state_id').on('change', function() {

            $('#truck_city_id option').html('')
            function loader(data){
                $('#truck_city_id option').html('Cargando...')
            };

            function error(data){
                alert("Error enviados los datos");
            };



            $.ajax({
                async: true,
                type: "GET",
                dataType: 'json',
                beforeSend:loader,
                error:error,
                success: function (msg) {


                    $('#extra_city_id').html('')


                    $.each(msg, function(index, value) {
                        console.log('<option value="'+value.id+'">'+value.name+'</option>');
                        $('#extra_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
                    });

                },
                url:"/admin/states/"+this.value+"/cities.json"
            });

        });



        //Cargo dato cuando carga la pagina

        function loader(data){
            $('#extra_city_id option').html('Cargando...')
        };

        function error(data){
            alert("Error enviados los datos");
        };



        $.ajax({
            async: true,
            type: "GET",
            dataType: 'json',
            beforeSend:loader,
            error:error,
            success: function (msg) {

                console.log(msg)
                $('#extra_city_id').html('')


                $.each(msg, function(index, value) {
                    console.log('<option value="'+value.id+'">'+value.name+'</option>');
                    if(value.id == '<%= @extra.city_id %>'){
                        $('#extra_city_id').append('<option selected value="'+value.id+'">'+value.name+'</option>')
                    }else{
                        $('#extra_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
                    }

                });

            },
            url:"/admin/states/<%= @extra.state_id %>/cities.json"
        });



    };

    $(document).ready(ready);
    $(document).on('page:load', ready);


</script>








