

<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Volquetas</a></li>
        <li class='active'>Nombre del Producto</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class="homepage-container">
<div class='row single-product outer-bottom-sm '>

  <div class='col-md-3 sidebar'>
    <!-- ================================== TOP NAVIGATION ================================== -->
    <%# render 'includes/eliminar' %>

    <%# render 'includes/categoriasmenu' %>
    <!-- ================================== TOP NAVIGATION : END ================================== -->
    <div class="sidebar-module-container">
      <%# render 'includes/buscadoravanzado' %>
    </div><!-- /.sidebar-module-container -->
  </div><!-- /.sidebar -->


<div class='col-md-12'>
<div class="row  wow fadeInUp">
  <%= render partial: 'includes/galeria', locals: {object: @truck} %>
  <div class='col-sm-6 col-md-5 product-info-block'>
    <div class="product-info">
      <h1 class="name"><%= @truck.nombre %></h1>
      <h3><%= number_to_currency( @truck.price,  precision: 0, delimiter: '.') %></h3>
      <div class="stock-container info-container m-t-10">
        <div class="row footer color-bg">

          <div class="col-sm-12 contact-timing">

            <div class="module-body outer-top-xs">
              <div class="table-responsive">
                <table class="table"><tbody>

                <tr class="nymou"><td>Modelo:</td><td class="pull-right"><%= @truck.modelo %></td></tr>
                <tr class="nymou"><td>Marca:</td><td class="pull-right"><%= @truck.brand_truck.name if @truck.brand_truck %></td></tr>
                <tr class="nymou"><td>Ubicación:</td><td class="pull-right"><%= @truck.state.name  if @truck.state %> - <%= @truck.city.name if @truck.city %></td></tr>
                <tr class="nymou"><td>Kilometraje:</td><td class="pull-right"><%= @truck.kilometraje %> Km</td></tr>
                <tr class="nymou"><td>Estado:</td><td class="pull-right">
                  <% if( @truck.estado == 0) %>
                        Nuevo
                  <% else %>
                        Usado
                  <% end %>
                 </td></tr>


                <tr class="nymou"><td>Placa:</td><td class="pull-right"><%= @truck.placa.upcase %></td></tr>
                <tr class="nymou"><td>Ubicación Placa:</td><td class="pull-right"><%=  @ciudad.name  if @ciudad %></td></tr>
                <% if  @truck.colors_truck %>
                <tr class="nymou"><td>Color:</td><td class="pull-right"><%=  @truck.colors_truck.name  %></td></tr>
                <% end %>
                <tr class="nymou"><td>Tipo Combustible</td>
                  <td class="pull-right">


                    <% if  @truck.tipocombustible == '0' %>
                        Gasolina
                    <% else if  @truck.tipocombustible == '1' %>
                            Gas
                    <% end %>
                            ACPM
                    <% end %>


                </td>
                        </tr>
                </tbody></table>
              </div><!-- /.table-responsive -->
            </div><!-- /.module-body -->
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.stock-container -->

    <div class="description-container m-t-20">
      <h4>Vendedor</h4>
      <p>Nombre: <b><%= @truck.customer ? @truck.customer.name.capitalize : "No registradoS" %></b></p>
      <p>Teléfono: <b><%= @truck.customer ? @truck.customer.telefono : "No registradoS" %></b></p>
      <p>Email: <b><%= @truck.customer ? @truck.customer.email : "No registradoS" %></b></p>
    </div><!-- /.description-container -->

    <div class="row outer-top-vs"><div class="cart col-md-12 col-lg-6 clearfix animate-effect">
      <div class="action"><button type="button" id="c" class="btn btn-primary">Contactar</button>
      </div><!-- /.action -->
    </div>
    </div>
  </div><!-- /.product-info -->
</div><!-- /.col-sm-5 -->

<div class="product-tabs outer-top-smal  wow fadeInUp">

  <ul id="product-tabs" class="nav nav-tabs nav-tab-cell-detail">
    <li class="active"><a data-toggle="tab" href="#detalles">DETALLES</a></li>
    <li id="c1"> <a data-toggle="tab" href="#contactar">CONTACTAR</a></li>
  </ul><!-- /.nav-tabs #product-tabs -->

  <div class="tab-content outer-top-xs">

    <div id="detalles" class="tab-pane in active">
      <div class="product-tab" style="height: auto !important; background-color: transparent; margin-top:-50px;">
        <div class="review-table">
         <h3>Descripción General</h3>
          <p>  <%= @truck.descripccion %></p>

          <div class="table-responsive">
            <table class="table table-bordered">
              <!--<thead>
                  <tr>
                      <th class="cell-label">&nbsp;</th>
                      <th>Marca Motor</th>
                      <th>2 stars</th>
                      <th>3 stars</th>
                      <th>4 stars</th>
                      <th>5 stars</th>
                  </tr>
              </thead>-->
              <tbody>
              <tr class="nymou">
                <% if  @truck.motors_truck %>
                <td class="cell-label"><b>Marca Motor</b><br> <%= @truck.motors_truck.name %></td>
                <% end %>


                <% if @truck.boxes_truck != '' %> <td> <% if  @truck.boxes_truck %><b>Marca de la Caja</b><br> <%= @truck.boxes_truck.name %><% end %></td><% end %>


                <% if @truck.transmissions_truck != '' %><td <% if  @truck.transmissions_truck %>><b>Marca de Transmisión</b><br> <%= @truck.transmissions_truck.name %>  <% end %></td><% end %>


                <% if @truck.wheels_truck != '' %><td><% if  @truck.wheels_truck %><b>Quinta Rueda</b><br> <%= @truck.wheels_truck.name %> <% end %></td><% end %>

              </tr>
              <tr class="nymou">
                <% if @truck.cupo != '' %><td class="cell-label"><b>Tipo de Cupo</b><br> <%= @truck.cupo %></td><% end %>
                <% if @truck.empresaafiliada != '' %><td><b>Empresa donde esta afiliada</b><br> <%= @truck.empresaafiliada %></td><% end %>
                <% if @truck.marcacarpa != '' %> <td><b>Marca Carpa</b><br> <%= @truck.marcacarpa %></td><% end %>
                <% if @truck.capacidadcarga != '' %><td><b>Capacidad de Carga</b><br> <%= @truck.capacidadcarga %> Toneladas</td><% end %>
              </tr>
              <tr class="nymou">
                <% if @truck.capacidadpasajeros != '' %><td class="cell-label"><b>Capacidad de Pasajeros</b><br> <%= @truck.capacidadpasajeros %></td><% end %>

                <% if @truck.numeroejes != '' %> <td><b>Numero de ejes</b><br> <%= @truck.numeroejes %></td><% end %>
                <td><b>Con Trailer</b><br><% if @truck.trailer == false %>No <% else %> Si <% end %></td>
                <td></td>
              </tr>
              <tr class="nymou">
                <td class="cell-label"><b>Negociable</b><br> <% if @truck.negociable == false %>No <% else %> Si <% end %></td>

                <% if @truck.vigia != '' %><td><b>Vigias</b><br> <% if @truck.vigia == false %>No <% else %> Si <% end %></td><% end %>
                <td><b>Tipo de Caja</b><br>

                  <% if  @truck.tipodecaja == 0 %>
                      Automatica
                  <% else %>
                        Manual
                  <% end %>

                </td>
                <td><b>Direccion</b><br>
                  <%=@truck.direccion=='Si'? 'Hidraulica':'Mecanica' %> </td>

              </tr>
              <tr class="nymou">
                <% if @truck.motorreparado %><td class="cell-label"><b>Motor Reparado</b><br> <% if @truck.motorreparado == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.cajareparada  %><td><b>Caja Reparada</b><br> <% if @truck.cajareparada == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.transmisionreparada %><td><b>Transmisión Reparada</b><br> <% if @truck.transmisionreparada == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.frenosabs %><td><b>Frenos ABS</b><br> <% if @truck.frenosabs == false %>No <% else %> Si <% end %></td><% end %>
              </tr>
              <tr class="nymou">
                <% if @truck.cupo  %><td class="cell-label"><b>Se vende con cupo</b><br> <% if @truck.cupo == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.bano %><td><b>Baño</b><br> <% if @truck.bano == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.descansapies %><td><b>Descansa pies</b><br> <% if @truck.descansapies == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.sillareclinable %><td><b>Sillas reclinables</b><br> <% if @truck.sillareclinable == false %>No <% else %> Si <% end %></td><% end %>
              </tr>
              <tr class="nymou">

                <% if @truck.tv  %> <td class="cell-label"><b>TV</b><br> <% if @truck.tv == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.pantallaindividual %> <td><b>Pantalla individual</b><br> <% if @truck.pantallaindividual == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.wifi  %> <td><b>Wifi</b><br> <% if @truck.wifi == false %>No <% else %> Si <% end %></td><% end %>
                <% if @truck.audio  %> <td><b>Audio</b><br> <% if @truck.audio == false %>No <% else %> Si <% end %></td><% end %>
              </tr>
              <tr class="nymou">
                <% if @truck.unicodueno  %><td class="cell-label"><b>Único dueño</b><br> <% if @truck.unicodueno == false %>No <% else %> Si <% end %></td> <% end %>
                <td class="cell-label">
                  <% if @truck.autocarpado  %>
                      <b>Auto Carpado</b><br><%= @truck.autocarpado %>
                  <% end %>
                  <%if @truck.tipocupo %>
                    <b>Tipo de Cupo</b><br>
                      <%= @truck.tipocupo %>
                  <%end%>
                </td>
                <td>
                    <% if @truck.contracts_truck %>
                        <b>Poliza</b><br>
                        <%= @truck.contracts_truck.name %>
                    <%end %>
                </td>
                <td></td>

              </tr>
              <%if @truck.sevendecontrailer == 'Si'%>
                    <tr class="nymou">
                        <td class="cell-label">
                            <% if @truck.marcatrailer  %>
                                <b>Marca Trailer</b><br><%= @truck.marcatrailer %>
                            <% end %>
                        </td>
                        <td class="cell-label">
                            <% if @truck.tipotrailer  %>
                                <b>Tipo de Trailer</b><br><%= @truck.tipotrailer %>
                            <% end %>
                        </td>
                       <td class="cell-label">
                            <% if @truck.modelotrailer %>
                                <b>Modelo Trailer</b></br><%= @truck.modelotrailer %>
                            <% end %>
                       </td>
                       <td class="cell-label">
                            <% if @truck.numeroejestrailer %>
                                <b>Número de ejes del Trailer</b></br><%= @truck.numeroejestrailer %>
                            <% end %>
                       </td>
                    </tr>
              <%end %>
              <% if @truck.type_truck_id ==2 %>
                <tr class="mymou">
                  <td class="cell-label">
                    <% if @truck.marca_equipo_humedo_id  %>
                        <b>Marca Eqipo humedo</b><br><%= MarcaEquipoHumedo.find(@truck.marca_equipo_humedo_id).name %>
                    <% end %>
                  </td>
                  <td class="cell-label">
                    <% if @truck.marca_volco_id  %>
                        <b>Marca Volco</b><br><%= MarcaVolco.find(@truck.marca_volco_id).name %>
                    <% end %>
                  </td>
                  <td class="cell-label">
                    <% if @truck.capacidadmetrica  %>
                        <b>Capacidad Metrica</b><br><%= @truck.capacidadmetrica %>
                    <% end %>
                  </td>
                  <td class="cell-label">
                    <% if @truck.cuantosmetroscubicos  %>
                        <b>Metros Cubicos</b><br><%= @truck.cuantosmetroscubicos %>
                    <% end %>
                  </td>

                </tr>
              <%end%>
              </tbody>
            </table><!-- /.table .table-bordered -->
          </div><!-- /.table-responsive -->
        </div><!-- /.review-table -->
      </div>
    </div><!-- /.tab-pane -->

    <%= render partial: "includes/message_inbox", locals: {object: @truck, , anuncio: '1'}  %>

  </div><!-- /.tab-pane -->


</div><!-- /.tab-content -->

</div><!-- /.product-tabs -->

</div><!-- /.col -->
</div><!-- /.row -->




<!-- ============================================== FEATURED PRODUCT ============================================== -->



</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->		</div><!-- /.homepage-container -->
</div><!-- /.container -->
</div>