

<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Volquetas</a></li>
        <li class='active'>Nombre del Producto</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class="homepage-container">
<div class='row single-product outer-bottom-sm '>

  <div class='col-md-3 sidebar'>
    <!-- ================================== TOP NAVIGATION ================================== -->
    <%# render 'includes/eliminar' %>

    <%# render 'includes/categoriasmenu' %>
    <!-- ================================== TOP NAVIGATION : END ================================== -->
    <div class="sidebar-module-container">
      <%# render 'includes/buscadoravanzado' %>
    </div><!-- /.sidebar-module-container -->
  </div><!-- /.sidebar -->


<div class='col-md-12'>
<div class="row  wow fadeInUp">
  <%= render partial: 'includes/galeria', locals: {object: @truck} %>
  <div class='col-sm-6 col-md-5 product-info-block'>
    <div class="product-info">
      <h1 class="name"><%= @truck.nombre %></h1>
      <h3><%= number_to_currency( @truck.price,  precision: 0, delimiter: '.') %></h3>
      <div class="stock-container info-container m-t-10">
        <div class="row footer color-bg">

          <div class="col-sm-12 contact-timing">

            <div class="module-body outer-top-xs">
              <div class="table-responsive">
                <table class="table"><tbody>

                <tr class="nymou"><td class="cell-label">Modelo:</td><td class="pull-right"><%= @truck.modelo %></td></tr>
                <tr class="nymou"><td class="cell-label">Marca:</td><td class="pull-right"><%= @truck.brand_truck.name if @truck.brand_truck %></td></tr>
                <tr class="nymou"><td class="cell-label">Ubicación:</td><td class="pull-right"><%= @truck.state.name  if @truck.state %> - <%= @truck.city.name if @truck.city %></td></tr>
                <tr class="nymou"><td class="cell-label">Kilometraje:</td><td class="pull-right"><%= @truck.kilometraje!= nil ? @truck.kilometraje+ ' Km' : 'Sin Info' %></td></tr>
                <tr class="nymou"><td class="cell-label">Estado:</td><td class="pull-right">
                  <% if @truck.estado == 0 %>
                        Nuevo
                  <% else %>
                        Usado
                  <% end %>
                 </td></tr>


                <tr class="nymou"><td class="cell-label">Placa:</td><td class="pull-right"><%= @truck.placa.upcase %></td></tr>
                <tr class="nymou"><td class="cell-label">Ubicación Placa:</td><td class="pull-right"><%=  @ciudad.name  if @ciudad %></td></tr>
                <% if  @truck.colors_truck %>
                <tr class="nymou"><td class="cell-label">Color:</td><td class="pull-right"><%=  @truck.colors_truck.name  %></td></tr>
                <% end %>
                <tr class="nymou"><td class="cell-label">Tipo Combustible</td>
                  <td class="pull-right">


                    <% if  @truck.tipocombustible == '0' %>
                        Gasolina
                    <% else if  @truck.tipocombustible == '1' %>
                            Gas
                    <% end %>
                            ACPM
                    <% end %>


                </td>
                        </tr>
                </tbody></table>
              </div><!-- /.table-responsive -->
            </div><!-- /.module-body -->
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.stock-container -->

    <div class="description-container m-t-20">
      <h4>Vendedor</h4>
      <p>Nombre: <b><%= @truck.customer ? @truck.customer.name.capitalize : 'No registrado' %></b></p>
      <p>Teléfono: <b><%= @truck.customer ? @truck.customer.telefono : 'No registrado' %></b></p>
      <p>Email: <b><%= @truck.customer ? @truck.customer.email : 'No registrado' %></b></p>
    </div><!-- /.description-container -->

    <div class="row outer-top-vs"><div class="cart col-md-12 col-lg-6 clearfix animate-effect">
      <div class="action"><button type="button" id="c" class="btn btn-primary">Contactar</button>
      </div><!-- /.action -->
    </div>
    </div>
  </div><!-- /.product-info -->
</div><!-- /.col-sm-5 -->

<div class="product-tabs outer-top-smal  wow fadeInUp">

  <ul id="product-tabs" class="nav nav-tabs nav-tab-cell-detail">
    <li class="active"><a data-toggle="tab" href="#detalles">DETALLES</a></li>
    <li id="c1"> <a data-toggle="tab" href="#contactar">CONTACTAR</a></li>
  </ul><!-- /.nav-tabs #product-tabs -->

  <div class="tab-content outer-top-xs">

    <div id="detalles" class="tab-pane in active">
      <div class="product-tab" style="height: auto !important; background-color: transparent; margin-top:-50px;">
        <div class="review-table">
         <h3>Descripción General</h3>
          <p>  <%= @truck.descripccion %></p>

          <div class="table-responsive">
            <table class="table table-bordered">
              <tbody>
              <!--NUEVA TABLA-->
                    <tr class="nymou"> <!----PRIMER ROW--->
                        <% if @truck.type_truck_id != 5 %>
                            <td class="cell-label">
                                <b>Marca Motor</b><br>
                                <%= @truck.motors_truck ? @truck.motors_truck.name : 'Sin información' %>
                            </td>
                            <% if @truck.type_truck_id !=6 %>
                                <td class="cell-label">
                                    <b>Marca de la Caja</b><br>
                                    <%=@truck.boxes_truck ? @truck.boxes_truck.name : 'Sin Información' %>
                                </td>
                                <td class="cell-label">
                                    <b>Marca de Transmisión</b><br>
                                    <%= @truck.transmissions_truck ? @truck.transmissions_truck.name : 'Sin Información' %>
                                </td>
                                <td class="cell-label">
                                    <b>Empresa Afiliada</b><br>
                                    <%= @truck.empresaafiliada? ? @truck.empresaafiliada : 'Sin información' %>
                                </td>
                            <% end %>
                              <td class="cell-label">
                                <b>Unico Dueño</b><br>
                                <%= @truck.unicodueno!= nil ? (@truck.unicodueno? ? 'Si': 'No') : 'Sin Información' %>
                              </td>
                        <% end %>
                    </tr>
                <!--TRACTOMULA-->
                    <% if @truck.type_truck_id ==1 %>
                        <tr class="nymou">
                            <td class="cell-label">
                                <b>Quinta Rueda</b><br>
                                <%= @truck.wheels_truck_id? ? @truck.wheels_truck.name: 'Sin Información' %>
                            </td>

                            <td class="cell-label">
                                <b>Tipo Cupo</b><br>
                                    <%= @truck.spaces_truck_id.nil? ?  'Sin Información' : @truck.spaces_truck.name  %>
                            </td>
                            <td class="cell-label">
                                <b>Motor Reparado</b><br>
                                    <%=  @truck.motorreparado.nil? ?  'Sin Información' : (@truck.motorreparado? ? 'Si': 'No') %>
                            </td>
                            <td class="cell-label">
                              <b>Negociable</b><br>
                              <%=  @truck.negociable.nil? ?  'Sin Información' : (@truck.negociable? ? 'Si': 'No') %>
                            </td>
                            <td class="cell-label">
                              <b>Se vende con trailer</b><br>
                              <%=  @truck.sevendecontrailer.nil? ?  'Sin Información' : (@truck.sevendecontrailer=='Si' ? 'Si': 'No') %>
                            </td>
                        </tr>

                          <tr class="nymou">
                            <%if @truck.sevendecontrailer=='Si' %>
                            <td class="cell-label">
                                <b>Marca Trailer</b><br>
                                <%= @truck.marcatrailer? ? @truck.marcatrailer : 'Sin Información' %>
                            </td>
                            <td class="cell-label">
                                <b>Tipo de Trailer</b><br>
                                <%= @truck.tipotrailer? ? @truck.tipotrailer : 'Sin Información'%>
                            </td>
                            <td class="cell-label">
                                <b>Modelo Trailer</b><br>
                                <%= @truck.modelotrailer? ? @truck.modelotrailer : 'Sin Información' %>
                            </td>
                            <td class="cell-label">
                                <b>Número de ejes del Trailer</b><br>
                                <%= @truck.numeroejestrailer? ? @truck.numeroejestrailer : 'Sin Información' %>
                            </td>
                            <td class="cell-label">
                                <b>Número de ejes Retractiles</b><br>
                                <%= @truck.ejesretractiles? ?  @truck.ejesretractiles : 'Sin Información' %>
                            </td>
                            <% end %>
                          </tr>

                    <% end %>
                <!--VOLQUETA-->
                    <% if @truck.type_truck_id==2 %>
                        <tr class="nymou">
                            <td class="cell-label">
                                <b>Marca Equipo Humedo</b><br>
                                <%= @truck.marcaequipohumedo_id.nil? ? 'Sin Información': MarcaEquipoHumedo.find(@truck.marcaequipohumedo_id).name%>
                            </td>
                            <td class="cell-label">
                                <b>Marca Volco</b><br>
                                <%= @truck.marcavolco_id.nil? ? 'Sin Información': MarcaVolco.find(@truck.marcavolco_id).name  %>
                            </td>
                            <td class="cell-label">
                                <b>Capacidad Metrica</b><br>
                                <%= @truck.capacidadmetrica.nil?  ? 'Sin Información' : @truck.capacidadmetrica %>
                            </td>
                            <td class="cell-label">
                                <b>Metros Cubicos</b><br>
                                <%= @truck.cuantosmetroscubicos.nil? ? 'Sin Información' : @truck.cuantosmetroscubicos %>
                            </td>
                            <td class="cell-label">
                                <b>Auto Carpado</b><br>
                                <%= @truck.autocarpado.nil? ? 'Sin Información' : @truck.autocarpado %>
                            </td>
                        </tr>

                        <tr class="nymou">
                          <td class="cell-label">
                            <b>Motor Reparado</b><br>
                            <%=  @truck.motorreparado.nil? ?  'Sin Información' : (@truck.motorreparado? ? 'Si': 'No') %>
                          </td>
                          <td class="cell-label">
                            <b>Negociable</b><br>
                            <%=  @truck.negociable.nil? ?  'Sin Información' : (@truck.negociable? ? 'Si': 'No') %>
                          </td>
                          <td class="cell-label"></td>
                          <td class="cell-label"></td>
                          <td class="cell-label"></td>
                        </tr>
                    <% end%>
                <!--CAMION-->
                    <% if @truck.type_truck_id == 3 %>
                        <tr class="nymou">
                          <td class="cell-label">
                            <b>Capacidad de Carga</b><br>
                            <%=  @truck.capacidadcarga.nil? ?  'Sin Información' : @truck.capacidadcarga %>
                          </td>
                          <td class="cell-label">
                            <b>Tipo de Carrroceria</b><br>
                            <%=  @truck.tipocarroceria_id.nil? ?  'Sin Información' : TipoCarroceria.find(@truck.tipocarroceria).name %>
                          </td>
                          <td class="cell-label">
                            <b>Marca Carroceria</b><br>
                            <%=  @truck.marcacarroceria_id.nil? ?  'Sin Información' : MarcaCarroceria.find(@truck.marcacarroceria_id) %>
                          </td>
                          <td class="cell-label">
                            <b>Marca Carpa</b><br>
                            <%=  @truck.marcacarpa.nil? ?  'Sin Información' : @truck.marcacarpa %>
                          </td>
                          <td class="cell-label">
                            <b>Tipo Cupo</b><br>
                            <%=  @truck.tipocupo.nil? ?  'Sin Información' : @truck.tipocupo %>
                          </td>
                        </tr>
                        <tr class="nymou">
                          <td class="cell-label">
                            <b>Poliza</b><br>
                            <%=  @truck.contracts_truck_id.nil? ?  'Sin Información' : @truck.contracts_truck.name %>
                          </td>
                          <td class="cell-label">
                            <b>Motor Reparado</b><br>
                            <%=  @truck.motorreparado.nil? ?  'Sin Información' : (@truck.motorreparado? ? 'Si': 'No') %>
                          </td>
                          <td class="cell-label">
                            <b>Negociable</b><br>
                            <%=  @truck.negociable.nil? ?  'Sin Información' : (@truck.negociable? ? 'Si': 'No') %>
                          </td>
                          <td class="cell-label"></td>
                          <td class="cell-label"></td>
                        </tr>
                    <% end %>
                <!--BUS-->
                    <% if @truck.type_truck_id == 4 %>
                        <tr class="nymou">
                            <td class="cell-label">
                                <b>Capacidad Pasajeros</b><br>
                                <%=  @truck.capacidadpasajeros.nil? ?  'Sin Información' : @truck.capacidadpasajeros %>
                            </td>
                            <td class="cell-label">
                                <b>Capacidad de Carga</b><br>
                                <%=  @truck.capacidadcarga.nil? ?  'Sin Información' : @truck.capacidadcarga %>
                            </td>

                            <td class="cell-label">
                                <b>Marca Carroceria</b><br>
                                <%=  @truck.marcacarroceria_id.nil? ?  'Sin Información' : MarcaCarroceria.find(@truck.marcacarroceria_id) %>
                            </td>
                            <td class="cell-label">
                                <b>Poliza</b><br>
                                <%=  @truck.contracts_truck_id.nil? ?  'Sin Información' : @truck.contracts_truck.name %>
                            </td>
                            <td class="cell-label">
                                <b>Se vende con cupo</b><br>
                                <%=  @truck.cupo.nil? ?  'Sin Información' : @truck.cupo? ? 'Si' : 'No' %>
                            </td>

                        </tr>
                        <tr class="nymou">
                            <td class="cell-label">
                                <b>Transmision Reparada</b><br>
                                <%=  @truck.transmisionreparada.nil? ?  'Sin Información' : @truck.transmisionreparada? ? 'Si': 'No' %>
                            </td>

                            <td class="cell-label">
                                <b>Frenos ABS</b><br>
                                <%=  @truck.frenosabs.nil? ?  'Sin Información' : @truck.frenosabs? ? 'Si' : 'No' %>
                            </td>
                          <td class="cell-label">
                                <b>Vigia</b><br>
                                <%=  @truck.vigia.nil? ?  'Sin Información' : @truck.vigia %>
                          </td>

                            <td class="cell-label">
                                <b>Sillas Reclinables</b><br>
                                <%=  @truck.sillareclinable.nil? ?  'Sin Información' : @truck.sillareclinable? ? 'Si' : 'No' %>
                            </td>
                            <td class="cell-label">
                                <b>Baño</b><br>
                                <%=  @truck.bano.nil? ?  'Sin Información' : @truck.bano? ? 'Si' : 'No' %>
                            </td>
                        </tr>
                        <tr class="nymou">
                            <td class="cell-label">
                                <b>Descansa Pies</b><br>
                                <%=  @truck.descansapies.nil? ?  'Sin Información' : @truck.descansapies? ? 'Si': 'No' %>
                            </td>

                            <td class="cell-label">
                              <b>TV.</b><br>
                              <%=  @truck.tv.nil? ?  'Sin Información' : @truck.tv? ? 'Si' : 'No' %>
                            </td>
                            <td class="cell-label">
                              <b>Pantalla Individual</b><br>
                              <%=  @truck.pantallaindividual.nil? ?  'Sin Información' : @truck.pantallaindividual? ? 'Si': 'No' %>
                            </td>

                            <td class="cell-label">
                              <b>Wifi</b><br>
                              <%=  @truck.wifi.nil? ?  'Sin Información' : @truck.wifi? ? 'Si' : 'No' %>
                            </td>
                            <td class="cell-label">
                              <b>Audio</b><br>
                              <%=  @truck.audio.nil? ?  'Sin Información' : @truck.audio? ? 'Si' : 'No' %>
                            </td>
                          </tr>
                        <tr class="nymou">
                            <td class="cell-label">
                                <b>Negociable</b><br>
                                <%=  @truck.negociable.nil? ?  'Sin Información' : (@truck.negociable? ? 'Si': 'No') %>
                            </td>
                            <td class="cell-label"></td>
                            <td class="cell-label"></td>
                            <td class="cell-label"></td>
                            <td class="cell-label"></td>
                        </tr>
                    <% end %>
                <!--TRAILER-->
                    <% if @truck.type_truck_id == 5 %>
                        < class="nymou">
                            <td class="cell-label">
                              <b>Tipo de Carrroceria</b><br>
                              <%=  @truck.tipocarroceria_id.nil? ?  'Sin Información' : TipoCarroceria.find(@truck.tipocarroceria).name %>
                            </td>
                            <td class="cell-label">
                              <b>Marca Carroceria</b><br>
                              <%=  @truck.marcacarroceria_id.nil? ?  'Sin Información' : MarcaCarroceria.find(@truck.marcacarroceria_id) %>
                            </td>
                            <td class="cell-label">
                              <b>Marca Carpa</b><br>
                              <%=  @truck.marcacarpa.nil? ?  'Sin Información' : @truck.marcacarpa %>
                            </td>
                            <td class="cell-label">
                                <b>Unico Dueño</b><br>
                                <%= @truck.unicodueno!= nil ? (@truck.unicodueno? ? 'Si': 'No') : 'Sin Información' %>
                            </td>
                            <td class="cell-label">
                                <b>Se vende con trailer</b><br>
                                <%=  @truck.sevendecontrailer.nil? ?  'Sin Información' : (@truck.sevendecontrailer=='Si' ? 'Si': 'No') %>
                            </td>
                        </tr>
                        <%if @truck.sevendecontrailer=='Si' %>
                            <tr class="nymou">
                                <td class="cell-label">
                                    <b>Marca Trailer</b><br>
                                    <%= @truck.marcatrailer? ? @truck.marcatrailer : 'Sin Información' %>
                                </td>
                                <td class="cell-label">
                                  <b>Tipo de Trailer</b><br>
                                  <%= @truck.tipotrailer? ? @truck.tipotrailer : 'Sin Información'%>
                                </td>
                                <td class="cell-label">
                                  <b>Modelo Trailer</b><br>
                                  <%= @truck.modelotrailer? ? @truck.modelotrailer : 'Sin Información' %>
                                </td>
                                <td class="cell-label">
                                  <b>Número de ejes del Trailer</b><br>
                                  <%= @truck.numeroejestrailer? ? @truck.numeroejestrailer : 'Sin Información' %>
                                </td>
                                <td class="cell-label">
                                  <b>Número de ejes Retractiles</b><br>
                                  <%= @truck.ejesretractiles? ?  @truck.ejesretractiles : 'Sin Información' %>
                                </td>
                            </tr>
                        <% end %>
                        <tr class="nymou">
                          <td class="cell-label">
                            <b>Negociable</b><br>
                            <%=  @truck.negociable.nil? ?  'Sin Información' : (@truck.negociable? ? 'Si': 'No') %>
                          </td>
                          <td class="cell-label"></td>
                          <td class="cell-label"></td>
                          <td class="cell-label"></td>
                        </tr>
                    <% end %>
                <!--VAN-->
                    <% if @truck.type_truck_id == 6 %>
                    <td class="cell-label">
                        <b>Capacidad de Carga</b><br>
                        <%= @truck.capacidadcarga.nil? ? 'Sin Información' : @truck.capacidadcarga %>
                    </td>
                    <td class="cell-label">
                        <b>Capacidad de Pasajeros</b><br>
                        <%= @truck.capacidadpasajeros.nil? ? 'Sin Información' : @truck.capacidadpasajeros %>
                    </td>
                    <tr class="nymou">
                        <td class="cell-label">
                          <b>Cilindraje</b><br>
                          <%= @truck.cilindrajecc.nil? ? 'Sin Información' : @truck.cilindrajecc %>
                        </td>
                        <td class="cell-label">
                          <b>Dirreción</b><br>
                          <%= @truck.direccion.nil? ? 'Sin Información' : @truck.direccion == 'Si' ? 'Hidraulica':'Mecanica' %>
                        </td>
                        <td class="cell-label">
                          <b>Negociable</b><br>
                          <%= @truck.negociable.nil? ? 'Sin Información' : @truck.negociable? ? 'Si': 'No' %>
                        </td>
                        <td class="cell-label"></td>
                        <td class="cell-label"></td>
                    </tr>
                    <% end %>
              </tbody>
            </table><!-- /.table .table-bordered -->
          </div><!-- /.table-responsive -->
        </div><!-- /.review-table -->
      </div>
    </div><!-- /.tab-pane -->

    <%= render partial: 'includes/message_inbox', locals: {object: @truck, anuncio: '1'}  %>

  </div><!-- /.tab-pane -->


</div><!-- /.tab-content -->

</div><!-- /.product-tabs -->

</div><!-- /.col -->
</div><!-- /.row -->




<!-- ============================================== FEATURED PRODUCT ============================================== -->



</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->		</div><!-- /.homepage-container -->
<!--</div> /.container
</div>-->
