

<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Volquetas</a></li>
        <li class='active'>Nombre del Producto</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class="homepage-container">
  <div class='row single-product outer-bottom-sm '>
    <div class='col-md-3 sidebar'>
      <!-- ================================== TOP NAVIGATION ================================== -->
      <%# render 'includes/eliminar' %>

      <%# render 'includes/categoriasmenu' %>
      <!-- ================================== TOP NAVIGATION : END ================================== -->
      <div class="sidebar-module-container">
        <%# render 'includes/buscadoravanzado' %>
      </div><!-- /.sidebar-module-container -->
    </div><!-- /.sidebar -->


    <div class='col-md-12'>
      <div class="row  wow fadeInUp">
    <%= render partial: 'includes/galeria', locals: {object: @truck} %>
    <div class='col-sm-6 col-md-5 product-info-block'>
      <div class="product-info">
        <h1 class="name"><%= @truck.nombre %></h1>
        <h3><%= number_to_currency( @truck.price,  precision: 0, delimiter: '.') %></h3>
        <div class="stock-container info-container m-t-10">
          <div class="row footer color-bg">

            <div class="col-sm-12 contact-timing">

              <div class="module-body outer-top-xs">
                <div class="table-responsive">
                  <table class="table"><tbody>

                  <tr class="nymou"><td class="cell-label">Modelo:</td><td class="pull-right"><%= @truck.modelo %></td></tr>
                  <tr class="nymou"><td class="cell-label">Marca:</td><td class="pull-right"><%= @truck.brand_truck.name if @truck.brand_truck %></td></tr>
                  <tr class="nymou"><td class="cell-label">Ubicación:</td><td class="pull-right"><%= @truck.state.name  if @truck.state %> - <%= @truck.city.name if @truck.city %></td></tr>
                  <% if @truck.type_truck_id !=5 %>
                    <tr class="nymou"><td class="cell-label">Kilometraje:</td><td class="pull-right"><%= @truck.kilometraje!= nil ? @truck.kilometraje+ ' Km' : 'Sin Info' %></td></tr>
                  <% end %>
                  <tr class="nymou"><td class="cell-label">Estado:</td><td class="pull-right">
                    <% if @truck.estado == 0 %>
                          Nuevo
                    <% else %>
                          Usado
                    <% end %>
                   </td></tr>
                  <tr class="nymou"><td class="cell-label">Placa:</td><td class="pull-right"><%= @truck.placa.upcase %></td></tr>
                  <tr class="nymou"><td class="cell-label">Ubicación Placa:</td><td class="pull-right"><%=  @ciudad.name  if @ciudad %></td></tr>
                  <% if  @truck.colors_truck %>
                  <tr class="nymou"><td class="cell-label">Color:</td><td class="pull-right"><%=  @truck.colors_truck.name  %></td></tr>
                  <% end %>
                  <% if @truck.type_truck_id !=5 %>
                    <tr class="nymou"><td class="cell-label">Tipo Combustible:</td>
                      <td class="pull-right">
                        <% if  @truck.tipocombustible == '0' %>
                          Gasolina
                        <%elsif  @truck.tipocombustible == '1' %>
                              Gas
                        <% else %>
                              ACPM
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <tr class ='nymou'><td class='cell-label'>Peso Bruto:</td><td class='pull-right'><%= @truck.pesobruto %> </td></tr>
                  </tbody></table>
                </div><!-- /.table-responsive -->
              </div><!-- /.module-body -->
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.stock-container -->

      <div class="description-container m-t-20">
        <h4>Vendedor</h4>
        <p>Nombre: <b><%= @truck.customer ? @truck.customer.name.capitalize : 'No registrado' %></b></p>
        <p>Teléfono: <b><%= @truck.phone ? @truck.phone : 'No registrado' %></b></p>
        <p>Email: <b><%= @truck.email ? @truck.email : 'No registrado' %></b></p>
      </div><!-- /.description-container -->

      <div class="row outer-top-vs"><div class="cart col-md-12 col-lg-6 clearfix animate-effect">
        <div class="action"><a data-toggle="tab" href="#contactar" class="btn btn-primary">Contactar</a></div><!-- /.action -->
      </div>
      </div>
    </div><!-- /.product-info -->
      </div><!-- /.col-sm-5 -->

      <div class="product-tabs outer-top-smal  wow fadeInUp">

    <ul id="product-tabs" class="nav nav-tabs nav-tab-cell-detail">
      <li><a data-toggle="tab" href="#detalles">DETALLES</a></li>
      <li id="c1"> <a data-toggle="tab" href="#contactar">CONTACTAR</a></li>
    </ul><!-- /.nav-tabs #product-tabs -->

    <div class="tab-content outer-top-xs">

      <div id="detalles" class="tab-pane in active">
        <div class="product-tab" style="height: auto !important; background-color: transparent; margin-top:-50px;">
          <div class="review-table">
            <h3>Descripción General</h3>
            <p>  <%= @truck.descripccion %></p>
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                <!--NUEVA TABLA-->
                <% if @truck.type_truck_id !=5 %>
                  <%= render partial: 'shared/showCamposGeneralesI' , locals: { object: @truck }  %>
                <% end %>
                  <!--TRACTOMULA-->
                      <% if @truck.type_truck_id ==1 %>
                          <tr class="nymou">
                              <td class="cell-label">
                                  <b>Quinta Rueda</b><br>
                                  <%= @truck.wheels_truck_id? ? @truck.wheels_truck.name: 'Sin Información' %>
                              </td>

                              <td class="cell-label">
                                  <b>Tipo Cupo</b><br>
                                      <%= @truck.spaces_truck_id.nil? ?  'Sin Información' : @truck.spaces_truck.name  %>
                              </td>
                              <td class="cell-label">
                                <b>Peso bruto</b><br>
                                <%= @truck.pesobruto.nil? ?  'Sin Información' : @truck.pesobruto  %>
                              </td>
                              <td class="cell-label">
                                <b>Se vende con trailer</b><br>
                                <%=  @truck.sevendecontrailer.nil? ?  'Sin Información' : (@truck.sevendecontrailer=='Si' ? 'Si': 'No') %>
                              </td>
                              <td class="cell-label"></td>
                          </tr>
                          <%if @truck.sevendecontrailer=='Si' %>
                            <%= render partial: 'shared/showSeVendeTrailler' ,locals: { object: @truck} %>
                          <% end %>
                      <% end %>
                  <!--VOLQUETA-->
                      <% if @truck.type_truck_id==2 %>
                          <tr class="nymou">
                              <td class="cell-label">
                                  <b>Marca Equipo Humedo</b><br>
                                  <%= @truck.marca_equipo_humedo_id.nil? ? 'Sin Información': MarcaEquipoHumedo.find(@truck.marca_equipo_humedo_id).name%>
                              </td>
                              <td class="cell-label">
                                  <b>Marca Volco</b><br>
                                  <%= @truck.marca_volco_id.nil? ? 'Sin Información': MarcaVolco.find(@truck.marca_volco_id).name  %>
                              </td>

                              <td class="cell-label">
                                  <b>Cuantos Metros cubicos</b><br>
                                  <%= @truck.cuantosmetroscubicos.nil? ? 'Sin Información' : @truck.cuantosmetroscubicos %>
                              </td>
                              <td class="cell-label">
                                  <b>Auto Carpado</b><br>
                                  <%= @truck.autocarpado.nil? ? 'Sin Información' : @truck.autocarpado %>
                              </td>
                              <td class="cell-label">
                              <b>Capacidad de Carga Matricula</b><br>
                              <%=  @truck.capacidadcarga.nil? ?  'Sin Información' : @truck.capacidadcarga %>
                            </td>
                          </tr>
                      <% end%>
                  <!--CAMION-->
                      <% if @truck.type_truck_id == 3 %>
                          <tr class="nymou">
                            <td class="cell-label">
                              <b>Quinta Rueda</b><br>
                              <%= @truck.wheels_truck_id? ? @truck.wheels_truck.name: 'Sin Información' %>
                            </td>

                            <td class="cell-label">
                              <b>Capacidad de Carga Matricula</b><br>
                              <%=  @truck.capacidadcarga.nil? ?  'Sin Información' : @truck.capacidadcarga %>
                            </td>

                            <td class="cell-label">
                                <b>Número de ejes Retractiles</b><br>
                                <%= @truck.ejesretractiles? ?  @truck.ejesretractiles : 'Sin Información' %>
                            </td>

                            <td class="cell-label">
                              <b>Tipo Cupo</b><br>
                              <%= @truck.spaces_truck_id.nil? ?  'Sin Información' : @truck.spaces_truck.name  %>
                            </td>

                            <td class="cell-label"></td>
                          </tr>
                          <tr class="nymou">
                              <td class="cell-label">
                                <b>Tipo de Carrroceria</b><br>
                                <%=  @truck.tipo_carroceria_id.nil? ?  'Sin Información' : TipoCarroceria.find(@truck.tipo_carroceria_id).name %>
                              </td>
                              <td class="cell-label">
                                <b>Marca Carroceria</b><br>
                                <%=  @truck.marca_carroceria_id.nil? ?  'Sin Información' : MarcaCarroceria.find(@truck.marca_carroceria_id) %>
                              </td>
                              <td class="cell-label">
                                <b>Marca Carpa</b><br>
                                <%=  @truck.marcacarpa.nil? ?  'Sin Información' : @truck.marcacarpa %>
                              </td>
                              <td class="cell-label"></td>
                              <td class="cell-label"></td>
                          </tr>
                      <% end %>
                  <!--BUS-->
                      <% if @truck.type_truck_id == 4 %>
                        <%= render partial: 'shared/showBusyVan', locals: { object: @truck} %>
                      <% end %>
                  <!--TRAILER-->
                      <% if @truck.type_truck_id == 5 %>
                          <tr class="nymou">
                            <td class="cell-label">
                              <b>Marca Carpa</b><br>
                              <%=  @truck.marcacarpa.nil? ?  'Sin Información' : @truck.marcacarpa %>
                            </td>
                            <td class="cell-label"></td>
                            <td class="cell-label"></td>
                            <td class="cell-label"></td>
                            <td class="cell-label"></td>
                            <!--
                              <td class="cell-label">
                                  <b>Quinta Rueda</b><br>
                                  <%= @truck.wheels_truck_id? ? @truck.wheels_truck.name: 'Sin Información' %>
                              </td>
                              <td class="cell-label">
                                <b>Tipo de Carrroceria</b><br>
                                <%=  @truck.tipo_carroceria_id.nil? ?  'Sin Información' : TipoCarroceria.find(@truck.tipo_carroceria_id).name %>
                              </td>
                              <td class="cell-label">
                                <b>Marca Carroceria</b><br>
                                <%=  @truck.marca_carroceria_id.nil? ?  'Sin Información' : MarcaCarroceria.find(@truck.marca_carroceria_id) %>
                              </td>
                              <td class="cell-label"></td>
                            -->
                          </tr>
                          <%= render partial: 'shared/showSeVendeTrailler' ,locals: { object: @truck} %>
                      <% end %>
                  <!--VAN-->
                      <% if @truck.type_truck_id == 6 %>
                        <tr class="nymou">
                          <td class="cell-label">
                            <b>Cilindraje</b><br>
                            <%= @truck.cilindrajecc.nil? ? 'Sin Información' : @truck.cilindrajecc %>
                          </td>
                          <td class="cell-label">
                            <b>Dirección</b><br>
                            <%= @truck.direccion.nil? ? 'Sin Información' : @truck.direccion == 'Si' ? 'Hidraulica': 'Mecanica' %>
                          </td>
                          <td class="cell-label"></td>
                          <td class="cell-label"></td>
                          <td class="cell-label"></td>
                        </tr>
                        <%= render partial: 'shared/showBusyVan', locals: { object: @truck} %>
                      <% end %>
                  <%= render partial: 'shared/showCamposGeneralesII', locals:{ object: @truck} %>
                </tbody>
              </table><!-- /.table .table-bordered -->
            </div><!-- /.table-responsive -->
          </div><!-- /.review-table -->
        </div>
      </div><!-- /.tab-pane -->
      <%= render partial: 'includes/message_inbox', locals: {object: @truck, anuncio: '1'}  %>
    </div><!-- /.tab-pane -->
      </div><!-- /.tab-content -->

    </div><!-- /.product-tabs -->
  </div><!-- /.col -->
</div><!-- /.row -->




<!-- ============================================== FEATURED PRODUCT ============================================== -->



</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->		</div><!-- /.homepage-container -->
<!--</div> /.container
</div>-->
