
<div class="row">
  <div class="col-lg-12">
	<h1 class="page-header">
	  Camiones <small>/ Agregar</small>
	</h1>

  </div>
</div>


<div class="row">
    <div class="col-md-12">
      <%= render partial: 'includes/messages_errors', locals: {object: @truck} %>
        <%= form_for @truck, :url => micamionesnew_path, html:{ name: 'formulario', multipart: true } do |f|  %>
        <%= f.hidden_field :type_truck_id, :value=> params['v'] ?  params['v'] : @truck.type_truck_id  %>
		    <div class="row">
		        <div class="col-md-12">
			        <h3><small>Usted esta agregando</small>

			  <%= if params[:v] == '1' || @truck.type_truck_id ==1 then 'Tractomula' end %>
			  <%= if params[:v] == '2' || @truck.type_truck_id ==2 then 'Volqueta' end %>
			  <%= if params[:v] == '3' || @truck.type_truck_id ==3 then 'Camion' end %>
			  <%= if params[:v] == '4' || @truck.type_truck_id ==4 then 'Buses' end %>
			  <%= if params[:v] == '5' || @truck.type_truck_id ==5 then 'Trailers' end %>
			  <%= if params[:v] == '6' || @truck.type_truck_id ==6 then 'Vans' end %>
			</h3>
		        </div>
		    </div>

		    <ul class="nav nav-tabs" role="tablist">
		        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Paso 1</a></li>
		        <li role="presentation"><a id="s" href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Paso 2</a></li>
		    </ul>

		    <br/><br/>

		    <div class="tab-content">
		    	<!--Paso 1-->
		        <div role="tabpanel" class="tab-pane active" id="home">

                    <%= render partial: 'shared/paso1' , locals: { f:f , type: @truck.type_truck_id} %>

		        </div>
		        <!--Paso 2 -->	
		        <div role="tabpanel" class="tab-pane" id="profile">
				
					<%= render partial: "shared/camposGeneralesI", locals:{ f: f } %>

					<!-- 1 tractomula-->
					<% if params[:v] == '1'|| @truck.type_truck_id==1 %>

						<div class="row">
					  		<div class="col-md-6">
								<div class="form-group">
						  			<%= f.label :wheels_truck_id, 'Quinta Rueda' %>
						  			<%= f.collection_select :wheels_truck_id, WheelsTruck.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
								</div>
					  		</div>						
						</div>

						<%= render partial: 'shared/contrailer', locals: {f:f } %>

			  		<% end %>

					<!--volquetas 2-->
					<% if params[:v] == '2' %>

						<div class="row">
						  <div class="col-md-6">
							<div class="form-group">
							  <%= f.label :marca_equipo_humedo_id, 'Marca Equipo Humedo' %>
							  <%= f.collection_select :marca_equipo_humedo_id, MarcaEquipoHumedo.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
							</div>
						  </div>

						  <div class="col-md-6">
							<div class="form-group">
							  <%= f.label :marca_volco_id, 'Marca volco' %>
							  <%= f.collection_select :marca_volco_id, MarcaVolco.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
							</div>
						  </div>
						
						</div>

						<div class="row">
							<div class="col-md-6">
    							<div class="form-group">
									<%= f.label :capacidadcarga, 'Capacidad Carga Matricula' %>
									<%= f.collection_select :capacidadcarga, @capacidadcarga,:first,:first,{prompt:'Selecciones'},{class: 'form-control text_field'} %>
								</div>
  							</div>

							<div class="col-md-6">
								<div class="form-group">
									<%= f.label :cuantosmetroscubicos, 'Cuantos Metros cubicos' %>
									<%= f.text_field :cuantosmetroscubicos, :class =>'form-control'  %>
								</div>
							</div>	

						</div>

						<div class="row">
							<div class="col-md-12">
								<label for="">  Auto Carpado </label><br/>
									<%= f.radio_button :autocarpado, 'Si', :checked => false %> Si
									<%= f.radio_button :autocarpado, 'No', :checked => false %> No
									<br/><br/>
							</div>
						</div>
					<% end %>

					<!--Camion 3-->
					<% if params[:v] == '3' %>
						
						<div class="row">

							<div class="col-md-6">
								<div class="form-group">
						  			<%= f.label :wheels_truck_id, 'Quinta Rueda' %>
						  			<%= f.collection_select :wheels_truck_id, WheelsTruck.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
								</div>
					  		</div>	
								
							<div class="col-md-6">
								<div class="form-group">
									<%= f.label :capacidadcarga, 'Capacidad Carga' %>
									<%= f.collection_select :capacidadcarga, @capacidadcarga,:first,:first,{prompt:'Selecciones'},{class: 'form-control text_field'} %>
								</div>
							</div>

						</div>

						<div>
							<div class='col-md-6'>
								<div class="form-gorup">
							  		<label for="">numero de ejes retractiles </label><br/>
							  			<%= f.radio_button :ejesretractiles, 1, :checked => true %> 1
							  			<%= f.radio_button :ejesretractiles, 2, :checked => false %> 2
								</div>
							</div>
						</div>
					
					<% end %>

					<!--buses 4-->
					<% if params[:v] == '4' %>

						<%= render partial: 'shared/busyvan', locals:{ f:f} %>

					<% end %>

					<!-- trailers 5-->
					<% if params[:v] == '5' %>


						<div class="row">

							<div class="col-md-6">
								<div class="form-group">
						  			<%= f.label :wheels_truck_id, 'Quinta Rueda' %>
						  			<%= f.collection_select :wheels_truck_id, WheelsTruck.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
								</div>
					  		</div>		
						  	<div class="col-md-6">
								<div class="form-group">
							  		<%= f.label :tipo_carroceria_id, 'Tipo Carroceria' %>
							  		<%= f.collection_select :tipo_carroceria_id, TipoCarroceria.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
								</div>
						  	</div>

						  	<div class="col-md-6">
								<div class="form-group">
							  		<%= f.label :marca_carroceria_id, 'Marca Carroceria' %>
							  		<%= f.collection_select :marca_carroceria_id, MarcaCarroceria.order(:name),:id,:name, {prompt: 'Selecccione'}, {class: 'form-control'} %>
								</div>
						  	</div>

						  	<div class="col-md-6">
								<div class="form-group">
							  		<%= f.label :marcacarpa, 'Marca Carpa' %>
							  		<%= f.text_field :marcacarpa, :class =>'form-control'  %>
								</div>
						  	</div>

						</div>

						<div class="row">						 

						  <div class="col-md-3 extras">
							<div class="form-group">
							  <%= f.label :tipotrailer, 'Tipo Trailer' %>
							  <%= f.text_field :tipotrailer, :class =>'form-control'  %>
							</div>
						  </div>

						  <div class="col-md-3 extras">
							<div class="form-group">
							  <%= f.label :marcatrailer, 'Marca Trailer' %>
							  <%= f.text_field :marcatrailer, :class =>'form-control'  %>
							</div>
						  </div>


						  <div class="col-md-3 extras">
							<div class="form-group">
							  <%= f.label :modelotrailer, 'Modelo Trailer' %>
							  <%= f.text_field :modelotrailer, :class =>'form-control'  %>
							</div>
						  </div>

						  <div class="col-md-3 extras">
							<div class="form-group">
							  <%= f.label :numeroejestrailer, 'Numero de ejes' %>
							  <%= f.text_field :numeroejestrailer, :class =>'form-control'  %>
							</div>
						  </div>

						</div>

		                <div class="row">
		                  <div class="col-md-3">
		                    <label for="">numero de ejes retractiles </label><br/>

		                    <%= f.radio_button :ejesretractiles, '1', :checked => true %> 1

		                    <%= f.radio_button :ejesretractiles, '2', :checked => false %> 2

		                  </div>
		                
		                </div>

					<% end %>

					<!--VANS 6-->
					<% if params[:v] == '6' %>

						<div class="row">

						  	<div class="col-md-6">
								<div class="form-group">
							  		<%= f.label :cilindrajecc, 'Cilindraje CC' %>
							  		<%= f.text_field :cilindrajecc, :class =>'form-control'  %>
								</div>
						  	</div>
						
						  	<div class="col-md-6">
								<label for=""> Dirección </label><br/>
									<%= f.radio_button :direccion, 'Si', :checked => false %> Hidraulica
									<%= f.radio_button :direccion, 'No', :checked => false %> Mecanica
									<br/><br/>
						  	</div>
						</div>

						<%= render partial: 'shared/busyvan', locals: {f: f} %>
		                
				  	<% end %>

				  	<!-- Descripcion -->
					<div class="row">
						<div class="col-md-12">
							<%= f.label :descripccion, 'Descripcion' %>
							<%= f.text_area :descripccion, :class =>'form-control'  %> <br/> <br/> <br/> <br/>
					  	</div>
					</div>

					<!-- Imagenes -->
					<%= render partial: 'shared/imagenes', locals:{ object: f } %> <br/> <br/> <br/> <br/>
		            
		            <%= render partial: 'shared/camposGeneralesII', locals:{ f: f } %> <br/> <br/> <br/> <br/>

		            <%= render partial: 'shared/botonera', locals:{ object: f, cancel_route: micamiones_path } %>
				
				</div>
		    </div>
	    <% end %>
    </div>
</div>

<script>

	var ready;
	ready = function() {
		$('#truck_state_id').on('change', function() {

			$('#truck_city_id option').html('');
			function loader(data){
				$('#truck_city_id option').html('Cargando...')
            }
            function error(data){
				alert("Error enviados los datos");
            }
            $.ajax({
				async: true,
				type: "GET",
				dataType: 'json',
				beforeSend:loader,
				error:error,
				success: function (msg) {


					$('#truck_city_id').html('');


					$.each(msg, function(index, value) {
						console.log('<option value="'+value.id+'">'+value.name+'</option>');
						$('#truck_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
					});

				},

				url:"/departamentos/"+this.value
			});





		});





		$('#truck_placa_state_id').on('change', function() {

			$('#truck_placa_city_id option').html('');
			function loader(data){
				$('#truck_placa_city_id option').html('Cargando...')
            }
            function error(data){
				alert("Error enviados los datos");
            }
            $.ajax({
				async: true,
				type: "GET",
				dataType: 'json',
				beforeSend:loader,
				error:error,
				success: function (msg) {


					$('#truck_placa_city_id').html('');


					$.each(msg, function(index, value) {
						console.log('<option value="'+value.id+'">'+value.name+'</option>');
						$('#truck_placa_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
					});

				},
				url:"/departamentos/"+this.value
			});





		});


	};

	$(document).ready(ready);
	$(document).on('page:load', ready);

</script>