<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Repuestos <small>/ Editar</small>
            </h1>
        </div>
    </div>

    <%= render partial: 'includes/messages_errors', locals: {object: @extra} %>
    <div class="row">

        <%= simple_form_for @extra, :url => mirepuestosedit_path , method: :post do |f|  %>

            <% if !@extraLateUpdate %>
                <!--nombre repuesto y tipo de camion-->
                <%= render partial: 'shared/form_extra', locals:{ f: f} %>
            <% else %>
                <div class="row">
                    <!--Telefono y Email-->
                    <div class='col-md-4'>
                        <div class="form-group">
                            <%= f.label :phone, 'Teléfono' %>
                            <%= f.number_field :phone, :class =>'form-control', maxlength: 11  %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <%= f.label :email, 'Email' %>
                            <%= f.email_field :email, :class =>'form-control', minlength: 1 %>
                        </div>
                    </div>
                </div>
            <% end %>
            <%= render partial: 'shared/botonera', locals:{ object: f, cancel_route: mirepuestos_path } %>

        <% end %>

    </div>

</div>



<script>
    var ready;
    ready = function() {

        $('#extra_state_id').on('change', function() {

            $('#truck_city_id option').html('');
            function loader(data){
                $('#truck_city_id option').html('Cargando...')
            }

            function error(data){
                alert("Error enviados los datos");
            }



            $.ajax({
                async: true,
                type: "GET",
                dataType: 'json',
                beforeSend:loader,
                error:error,
                success: function (msg) {


                    $('#extra_city_id').html('');


                    $.each(msg, function(index, value) {
                        console.log('<option value="'+value.id+'">'+value.name+'</option>');
                        $('#extra_city_id').append('<option value="'+value.id+'">'+value.name+'</option>')
                    });

                },
                url:"/admin/states/"+this.value+"/cities.json"
            });





        });

    };

    $(document).ready(ready);
    $(document).on('page:load', ready);


</script>