
<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Montallantas</a></li>
        <li class='active'>Nombre Almacen</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
<div class='container'>
<div class="homepage-container">
<div class='row single-product outer-bottom-sm '>




<div class='col-md-12'>
  <div class="row  wow fadeInUp">

    <%= render partial: 'includes/galeria', locals: {object: @service} %>

    <div class='col-sm-6 col-md-5 product-info-block'>
      <div class="product-info">
        <h1 class="name"><%= @service.name %></h1>
        <div class="stock-container info-container m-t-10">
          <div class="row footer color-bg">

            <div class="col-sm-12 contact-timing">

              <div class="module-body outer-top-xs">
                <div class="table-responsive">
                  <table class="table"><tbody>
                  <tr class="nymou"><td>Ubicación:</td><td class="pull-right"><%= @service.state.name if @service.state %> - <%= @service.city.name if @service.city %></td></tr>
                  <tr class="nymou"><td>Teléfono:</td><td class="pull-right"><%= @service.phone %></td></tr>
                  <tr class="nymou"><td>Email:</td><td class="pull-right"><%= @service.email %></td></tr>
                  <tr class="nymou"><td>Horario:</td><td class="pull-right"><%= @service.horario %></td></tr>
                  <tr class="nymou"><td>Dirección:</td><td class="pull-right"><%= @service.address %></td></tr>
                  </tbody></table>
                </div><!-- /.table-responsive -->
              </div><!-- /.module-body -->
            </div>
          </div>
        </div><!-- /.row -->
      </div><!-- /.stock-container -->

      <div class="description-container m-t-20">
        <h3>Descripción</h3>
        <p>
          <%= @service.description %>
        </p>
      </div><!-- /.description-container -->

    </div><!-- /.product-info -->
  </div><!-- /.col-sm-5 -->

  <%= render partial: "includes/message_inbox", locals: {object: @service, anuncio: '3' }  %>

</div><!-- /.col -->
</div><!-- /.row -->

<!-- ============================================== FEATURED PRODUCT ============================================== -->



</div><!-- /.logo-slider -->
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->		</div><!-- /.homepage-container -->
</div><!-- /.container -->
</div><!-- /.body-content -->