= simple_form_for(@admin_user) do |f|
  = f.error_notification

  .form-inputs

    = f.input :email

    = f.input :first_name

    = f.input :last_name

    = f.input :status

    =f.password_field :password

    =f.password_field :password_confirmation

  .form-actions
    = f.button :submit
